server {
    listen 80;
    server_name _;

    location /static/ {
        alias {{APP_ROOT}}/static/;
        access_log off;
        expires 7d;
        add_header Cache-Control "public";
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:{{APP_ROOT}}/uo_regulations.sock;

        proxy_connect_timeout 30s;
        proxy_read_timeout 300s;
        proxy_send_timeout 300s;
    }
}